@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*Adryel tela 1 desktop */

header {
  background-color: #ec362d;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header>p {
  color: #ffffff;
  font-size: 37px;
  font-weight: bold;
}

.paginaInicial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginaInicial>.criacaoQuizz {
  width: 1051px;
  height: 181px;
  border: 1px dashed #d4d4d4;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.criacaoQuizz>p {
  width: 250px;
  font-size: 20px;
  color: #b9b9b9;
  font-weight: 400;
  text-align: center;
}

.criacaoQuizz>button {
  width: 151px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  border: 2px dashed #ec362d;
  font-size: 21px;
  color: #ec362d;
  margin-top: 20px;
}

.criacaoQuizz>button:hover {
  cursor: pointer;
}

.todosOsQuizzes {
  width: 1051px;
  height: 409px;
  margin-top: 77px;
}

.todosOsQuizzes>p {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.quizzes {
  width: 340px;
  height: 181px;
  position: relative;
  margin-bottom: 15px;
}

.todosOsQuizzes .quizzes>img {
  width: 340px;
  height: 181px;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #000000 100%),
    url(/img/simpson.png);
  border-radius: 5px;
}

.todosOsQuizzes .quizzes>div {
  position: absolute;
  z-index: 66;
  width: 100%;
  bottom: 0;
  width: 301px;
}

.todosOsQuizzes>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todosOsQuizzes .quizzes>div>p {
  font-size: 19px;
  color: white;
  margin-bottom: 17px;
  text-align: center;
}

.invisivel {
  display: none !important;
}

.visivel {
  display: inherit;
}

.paginaCriancaoQuiz>div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
}

.paginaCriancaoQuiz>div>p {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 48px;
}

.paginaCriancaoQuiz>div>div {
  width: 600px;
  height: 256px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.paginaCriancaoQuiz>div>div>input {
  width: 564px;
  height: 46px;
  margin-bottom: 9px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

.paginaCriancaoQuiz>div>div>input::placeholder {
  font-size: 19px;
  padding-left: 23px;
  font-style: italic;
  margin-left: 23px;
}

.paginaCriancaoQuiz>div>div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.paginaCriancaoQuiz>div>button {
  width: 370px;
  height: 54px;
  border-radius: 15px;
  font-size: 21px;
  font-weight: 400;
  color: #fff5f4;
  background-color: #ec362d;
  border: none;
  margin-top: 85px;
}

.paginaCriancaoQuiz>div>button:hover {
  cursor: pointer;
}

/*CSS TELA 9-DESKTOP FLAVIA*/
button {
  cursor: pointer;
}

.criar-perguntas {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: #000000;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 138px;
  margin-bottom: 35px;
  font-weight: 700;
}

.segura {
  width: 600px;
  left: 427px;
  top: 195px;
  border: 1px rgba(209, 209, 209, 1) solid;
  background: #FFFFFF;
  padding-left: 20px;
  border-radius: 5px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input {
  height: 46px;
  width: 564px;
  left: 443px;
  top: 257px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  font-style: italic;
  color: #BABABA;
  padding: 20px;
  margin-bottom: 10px;
}

input:focus {
  box-shadow: 0, 0, 0, 0;
  outline: 0;
}

.incorreta1,
.incorreta2 {
  margin-bottom: 30px;
}

.criar-pergunta {
  width: 601px;
  height: 74px;
  background: #ffffff;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px rgba(209, 209, 209, 1) solid;
  border-radius: 5px;
}

.perguntas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-icon {
  font-size: 26px;
  cursor: pointer;
}

.prosseguir-criar-niveis {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #EC362D;
  color: #FFF5F4;
  width: 352.82px;
  height: 54px;
  border: none;
  border-radius: 15px;
  margin-top: 110px;
}

.proseguir-criar-niveis:hover {
  cursor: pointer;
}

/* tela 10 */
.decisao-dos-niveis,
.quis-pronto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.segura-nivel {
  width: 600px;
  height: 316px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  padding-left: 16px;
}

.input-nivel {
  padding: 16px;
}

.criar-niveis {
  border: 1px solid #a49e9e;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  width: 600px;
  height: 74px;
  margin-top: 30px;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

.criar-nivel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.finalizar-quizz {
  background: #EC362D;
  border-radius: 15px;
  width: 324px;
  height: 54px;
  border: none;
  color: #FFF5F4;
  font-size: 21px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* tela 11 */
.titulo-img {
  color: white;
  position: relative;
  bottom: 10px;
}

.foto-img {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.img {
  width: 500px;
  height: 266px;
  border-radius: 5px;
  margin-bottom: 30px;
  color: #FFF5F4;
  display: flex;
  align-items: end;
}

.acessar-quis,
.volta-home {
  width: 220px;
  height: 44px;
  background: #EC362D;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
}

.volta-home {
  font-weight: 400;
  font-size: 21px;
  color: #818181;
  background: #E5E5E5;
}


/*TELA 9 MOBILE*/
@media(max-width: 375px) {
  /* Tamanho da tela do iPhone 8 */

  /*ADRYEL*/
  header {
    flex-direction: column;
    height: 69px;
  }

  header>p {
    font-size: 34px;
  }

  .paginaInicial>.criacaoQuizz {
    /**/
    width: 80%;
    height: 181px;
    margin-top: 50px;
  }

  .criacaoQuizz>button {
    /**/
    width: 40%;
    height: 30px;
    font-size: 14px;
  }

  .todosOsQuizzes {
    width: 80%;
    height: 500px;
    margin-top: 50px;
  }

  .quizzes {
    width: 100%;
    /**/
    height: 150px;
    margin-bottom: 15px;
  }

  .todosOsQuizzes .quizzes>img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-size: cover;

  }

  .todosOsQuizzes .quizzes>div>p {
    /**/
    font-size: 14px;
    margin-bottom: 5px;
  }

  /*FLAVIA*/
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .segura {
    height: auto;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .input {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .incorreta1,
  .incorreta2 {
    margin-bottom: 20px;
  }

  .criar-pergunta {
    width: 90%;
    height: auto;
    background: #FFFFFF;
    margin-bottom: 15px;

  }

  .perguntas>ion-icon {
    flex-direction: column;
    justify-content: flex-end;
  }

  .prosseguir-criar-niveis {
    font-size: 18px;
    width: 324px;
    margin-top: 40px;
  }

  .img,
  .segura-nivel,
  .criar-niveis {
    width: 90%;
  }

}